@use "../../abstracts/" as *;

.album-hero-play-button-content {
  @include flex-container();
  width: 5.3em;
  border: 1px solid clr(neutral-white, 100);
  border-radius: 100%;
  background-color: red;

  .album-play-icon {
    color: clr(neutral-white, 200);
  }
}
