@use "../../abstracts/" as *;

.album-hero-play-button-content {
  @include flex-container($content: center);
  width: 5.5em;
  height: 3.5em;
  border: 1px solid clr(neutral-white, 100);
  border-radius: 100%;

  .album-play-icon {
    color: clr(neutral-white, 200);
  }

  @media screen and (min-width: 360px) {
    width: 4em;
  }
}
