@use "../../abstracts/" as *;

.album-hero-content {
  position: relative;
  width: 20em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20em;
    height: 100%;
    background-color: clr(neutral-black, 200);
    opacity: 0.6;
  }

  .album-hero-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 13rem;
    height: 6rem;
    @include flex-container($content: center, $gap: 0, $align: flex-start);
    padding: 8px;
    border-left: 0.5px solid clr(neutral-white, 100);
    z-index: 10;

    & h3 {
      color: clr(component-colors, 100);
      letter-spacing: 0.2rem;
      line-height: 1.2em;
    }

    & p {
      font-family: $ff-bodoni;
      font-size: fs(xs);
      letter-spacing: 0.3rem;
    }
  }
}
