@use "../../abstracts/" as *;

.hero-content {
  position: relative;
  width: 20em;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20em;
    height: 100vh;
    background-color: clr(neutral-black, 200);
    opacity: 0.5;
  }

  .hero-text {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 10em;
    padding: 8px;
    z-index: 10;

    & h1 {
      font-family: $ff-bodoni;
      letter-spacing: 0.1rem;
    }

    & div {
      font-size: fs(xs);
      letter-spacing: 0.5rem;
    }
  }
}
