@use "../../abstracts/" as *;

.history-hero-content {
  position: relative;
  width: 20em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20em;
    height: 100%;
    background-color: clr(neutral-black, 200);
    opacity: 0.5;
  }

  @media screen and (min-width: 375px) {
    width: 21em;

    &::before {
      width: 21em;
    }
  }
}
