@use "../abstracts" as *;

body {
  font-family: $ff-roboto;
  font-weight: fw(light);
  font-size: fs(s);
  color: clr(neutral-white, 300);
  background-color: clr(neutral-black, 300);
}

h1 {
  font-size: fs(4xl);
  font-weight: fw(medium);
}

h2 {
  font-size: fs(2xl);
  font-weight: fw(regular);
}

h3 {
  font-size: fs(xl);
  font-weight: fw(bold);
  letter-spacing: 0.3rem;
}

h4 {
  font-size: fs(s);
  font-weight: fw(bold);
}

@at-root {
  :root {
    --swiper-navigation-size: 40px;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-color: #{clr(component-colors, 100)};
    --swiper-pagination-color: #{clr(component-colors, 200)};
    --swiper-pagination-top: 16.5rem !important;
  }
}
