@use "../../abstracts/" as *;

.nav-content {
  position: fixed;
  right: 1rem;
  width: 10em;
  height: 2.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: fs(4xl);
  font-weight: fw(medium);
  z-index: 30;

  & div:nth-child(1) {
    z-index: 10;
  }

  ul {
    @include flex-container($content: center);
    position: absolute;
    width: 100%;
    min-height: 13em;
    top: 0;
    flex-direction: column;
    padding: 1rem;
    background-color: clr(neutral-black, 300);

    & li {
      height: 4rem;
      width: 100%;
    }
  }
}
