@use "../abstracts/" as *;

.container {
  @include flex-container($align: flex-start, $gap: 1rem);
  max-width: 18em;
  margin: auto;
  padding-bottom: 2rem;
  border-bottom: 0.2px solid clr(neutral-white, 100);
}
