@use "../abstracts/" as *;

.main-container {
  @include flex-container($align: flex-start);
  max-width: 20em;
  margin: auto;
  aspect-ratio: auto;
  white-space: normal;

  @media screen and (min-width: 360px) {
    max-width: 23.5em;
  }
}
