@use "../../abstracts/" as *;

.button-content {
  width: 6.5rem;
  height: 2.7em;
  font-size: fs(xs);
  background-color: clr(component-colors, 100);

  &:hover {
    background-color: clr(component-colors, 200);
  }
}
