@use "../../abstracts/" as *;

.footer-content {
  @include flex-container($content: space-between, $align: flex-start);
  width: 18em;
  max-height: 30rem;
  margin: auto;
  padding-bottom: 1.5rem;

  li {
    margin-bottom: 0.5rem;
    font-weight: fw(bold);
  }

  span {
    font-size: fs(xs);
  }
}
