$colors: (
  neutral-white: (
    300: #f7f7f7,
    200: #dedede,
    100: #c5c5c5,
  ),
  neutral-black: (
    300: #181818,
    200: #313131,
    100: #4a4a4a,
  ),
  component-colors: (
    200: #f1c916a1,
    100: #f1c916,
  ),
);
