@use "functions" as *;

@mixin flex-container(
  $direction: column,
  $content: flex-start,
  $gap: 2rem,
  $align: center,
  $wrap: no-wrap
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-items: center;
  justify-content: $content;
  align-items: $align;
  gap: $gap;
}

@mixin text-heading {
  letter-spacing: 0.2rem;
  font-size: fs(m);
  font-weight: fw(medium);
}

@mixin basic-button {
  width: 8rem;
  min-height: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  font-size: fs(xs);
}

@mixin paragraph {
  line-height: 1.8rem;
}
